<h1>Listing conjugations</h1>

<table>
  <tr>
    <th>Verb</th>
    <th>Tense</th>
    <th>First singular</th>
    <th>Second singular</th>
    <th>Third singular</th>
    <th>First plural</th>
    <th>Second plural</th>
    <th>Third plural</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conjugations.each do |conjugation| %>
  <tr>
    <td><%= conjugation.verb %></td>
    <td><%= conjugation.tense %></td>
    <td><%= conjugation.first_singular %></td>
    <td><%= conjugation.second_singular %></td>
    <td><%= conjugation.third_singular %></td>
    <td><%= conjugation.first_plural %></td>
    <td><%= conjugation.second_plural %></td>
    <td><%= conjugation.third_plural %></td>
    <td><%= link_to 'Show', conjugation %></td>
    <td><%= link_to 'Edit', edit_conjugation_path(conjugation) %></td>
    <td><%= link_to 'Destroy', conjugation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conjugation', new_conjugation_path %>
